pipeline/Cdc.json
{
	"name": "Cdc",
	"properties": {
		"activities": [
			{
				"name": "SqlServerOnPremise-Csv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DateCondition-SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.Cdc"
					},
					{
						"name": "Destination",
						"value": "raw//DepartmentA.csv"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"additionalColumns": [
							{
								"name": "EtlName",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "EtlDateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "@concat('select * from dbo.DepartmentA where PaymentDate = ','''',substring(string(activity('DateCondition-SQL').output.firstRow),5,10),'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"metadata": [
								{
									"name": "EtlName",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								},
								{
									"name": "EtlDateTime",
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									}
								}
							]
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SqlServerDepartmentA",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DepartmentAcsv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SqlServerCloud-Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "DateCondition-SQLCloud",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "dbo.DepartmentB"
					},
					{
						"name": "Destination",
						"value": "raw//DepartmentB.parquet"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "EtlName",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							{
								"name": "EtlDateTime",
								"value": {
									"value": "@pipeline().TriggerTime",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": {
							"value": "@concat('select * from dbo.DepartmentB where PaymentDate = ','''',substring(string(activity('DateCondition-SQLCloud').output.firstRow),5,10),'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"metadata": [
								{
									"name": "EtlName",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									}
								},
								{
									"name": "EtlDateTime",
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									}
								}
							]
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlDepartmentB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DepartmentBparquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Preprocessing-Raw-Sql-Cloud",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SqlServerCloud-Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/alexluna@proactiviti.com/CDC-Azure/Version2/Preprocessing-Raw-Sql-Cloud"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Preprocessing-Raw-Sql-OnPremise",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "SqlServerOnPremise-Csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/alexluna@proactiviti.com/CDC-Azure/Version2/Preprocessing-Raw-Sql-OnPremise"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "DateCondition-SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select convert(varchar(10),max(PaymentDate)) from dbo.DepartmentA ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerDepartmentA",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "DateCondition-SQLCloud",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select convert(varchar(10),max(PaymentDate)) from dbo.DepartmentB",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlDepartmentB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UpdateCDC-Curated_copy1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Preprocessing-Raw-Sql-OnPremise",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Preprocessing-Raw-Sql-Cloud",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/alexluna@proactiviti.com/CDC-Azure/Version2/UpdateCDC-Curated"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"valorx": {
				"type": "String"
			},
			"EtlName": {
				"type": "String"
			},
			"EtlDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "CDC"
		},
		"annotations": [],
		"lastPublishTime": "2022-10-19T17:39:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}